@import "/styles/weather/weather.css";

@import "/styles/startpage.css";


.itinerary {
    border:black solid 1px;
    box-shadow: black 0px 0px 4px;
    background-color: blanchedalmond;
    display: flex;
    height: auto;
    width: auto;
}
.saved-itinerary {
    overflow:scroll;
    height:300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}
.map-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: black solid 1px;

}

header {
    background-image: url(../images/Banner-landscape.jpeg);
    background-size: 100%;
    text-align: center;
    justify-content: center;
    color: cornsilk;
    padding: 1vw;
    font-size: 3vw;

}

main {
    background-image: url(../images/Main-landscape.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {
    font-family: 'Limelight', cursive;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.savedItinerary {
    width: 25%;
    font-family: 'Limelight', cursive;
    font-size: 1.4vw;
    text-align: center;
    background-color:cornsilk;
    border-radius: 5%;
    margin: 2%;
    padding: 3%;
}

ul {
    list-style: none;
}

.banner__left {
    background-color:cornsilk;
    border-radius: 5%;
    margin: 2%;
    padding: 3%;
}

h2 {
    margin-top: -2vw;
}