@import "/styles/weather/weather.css";

@import "/styles/startpage.css";


.itinerary {
    border:black solid 1px;
    box-shadow: black 0px 0px 4px;
    background-color: blanchedalmond;
    display: flex;
    height: auto;
    width: auto;
}
.saved-itinerary {
    overflow:scroll;
    height:300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
}
.saved-itinerary::-webkit-scrollbar {
    display: none;
  }
.map-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
    background-color: rgba(255, 248, 220, 0.7814);
    border: cornsilk solid 15px;
    padding-top: 2em;

}

header {
    background-image: url(../images/Banner-landscape.jpeg);
    background-size: 100%;
    text-align: center;
    justify-content: center;
    color: cornsilk;
    padding: 1vw;
    font-size: 3vw;

}

main {
    background-image: url(../images/Main-landscape.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.banner {
    font-family: 'Limelight', cursive;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 5%;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.savedItinerary {
    width: 25%;
    font-family: 'Limelight', cursive;
    font-size: 1.4vw;
    text-align: center;
    background-color:cornsilk;
    border-radius: 5%;
    margin: 2%;
    padding: 3%;
}

ul {
    list-style: none;
}

.banner__left {
    background-color:cornsilk;
    border-radius: 5%;
    margin: 2%;
    padding: 3%;
    
}

.card {
    border: black solid 1px;
    box-shadow: black 0px 0px 4px;
    border-radius: 5%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25vw;
    font-size: x-small;
}
.card p{
    margin-top: -1em;
}
.card h1{
    margin-top: -.4em;
}
.card-pic {
    max-height: 150px;
    max-width: 150px;
    width: auto;
    height: auto;
    border-radius: 5%;
}
.savedItinerary__list {
    height: 150px;
    overflow: scroll;
}
.savedItinerary__list::-webkit-scrollbar {
    display: none;
  }
  body {
      margin: -.4em;
  }
  .map-class {
      border: black solid 10px;
      border-radius: 5%;
      margin: 1vw;
  }
  .saved-itinerary{
    border: black solid 10px;
    border-radius: 5%;
    margin:1vw;
  }
